form {
		display: flex;
		align-items: center;
		justify-content: space-between;
}

form :nth-child(1) {
		width: 80%;
}

form input, form button {
		margin: .5em;
		padding: .25em;
		font-size: 1.2em;
		border-radius: 5px;
}

form input[type="color"] {
		padding: 0;
		height: +2em;
		width: 5%;
}

form button {
		width: 5%;
}
